# dependencies
/node_modules
/.pnp
.pnp.js
node_modules/

# production
/build
build/

# testing
/coverage
coverage/

# misc
.DS_Store
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

ormconfig.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
tmp/*
!tmp/.gitkeep
